.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.hero-container {
  margin-bottom: 24px;
}

.primary-container {
  flex: 3 1;
  min-width: 50%;
  width: auto;
  margin: 8px;
  max-height: auto;
  min-height: 409px;
  max-height: 410px;
  background-color: #25262c;
  border-radius: 50px;
  padding: 64px;
  overflow: hidden;
}

@media only screen and (max-width: 1440px) {
  .primary-container {
    min-width: 100%;
  }
}

.secondary-container {
  flex: 1;
  width: auto;
  max-height: 409px;
  min-height: 409px;
  margin: 8px;

  height: auto;
  background-color: #25262c;
  border-radius: 50px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.platforms-container {
  /* padding: 4px 0; */
}

.spans {
  color: white;
  padding-right: 8px;
  font-size: 16px;
}

h3 {
  color: #6c6e6c;
  margin-bottom: 8px;
}

h4 {
  font-size: 60px;
}

h6 {
  font-size: 16px;
}

.game-detail-extras {
  color: #6c6e6c;
}

.detail {
  margin-bottom: 16px;
}

.game-summary {
  font-size: 20px;
  line-height: 32px;
  font-weight: lighter;
  padding: 8px 0;
}
