.main-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(44, 43, 43);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 3;
  position: relative;
  max-width: auto;
  min-width: 600px;
  min-height: 440px;
  border-radius: 50px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 54px;
}

.container > * {
  z-index: 10;
  position: relative;
}

.title {
  padding: 16px 0;
}

.ctas {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ctas :not(:last-child) {
  margin-right: 20px;
}

.screenshot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (max-width: 1280px) {
  .screenshot-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .hero-screenshots {
    margin: 16px 0;
  }
}

.hero-screenshots {
  max-height: 133px;
  max-width: auto;
  min-width: 244px;
  border-radius: 540px;
  margin-left: 16px;
}

a {
  color: white;
  text-decoration: none;
}

.user-check {
  color: rgb(216, 79, 79);
  position: absolute;
  top: -180px;
  display: flex;
  justify-content: space-between;
  transition: color ease-in-out 0.3s;
}

.user-check i {
  margin-right: 16px;
  font-size: 24px;
}
