.container {
  max-width: 350px;
  min-width: 350px;
  max-height: 350px;
  min-height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}

.container:hover {
  color: #6c6e7a;
  transition: ease-in-out 0.3s;
}

.card-content {
  background-color: #25262c;
  border-radius: 0 0 50px 50px;
  min-height: 125px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.card-content-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}

.title {
  font-size: 24px;
}

.genre {
  font-size: 18px;
  color: #6c6e7a;
}

.price {
  font-size: 20px;
}

.rating {
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
}
