.container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(44, 43, 43);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  max-height: 400px;
  min-height: 400px;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 54px;
  margin-top: 56px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 1125px) {
  .container {
    flex-direction: column;
    justify-content: flex-end;
  }
}

.container > * {
  z-index: 10;
  position: relative;
}

.title {
  padding: 16px 0;
  transition: color ease-in-out 0.4s;
}
.title:hover {
  color: rgb(209, 207, 207);
}

.ctas {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-screenshots {
  max-height: 133px;
  max-width: 244px;
  border-radius: 540px;
  margin-left: 16px;
}

.right-panel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}

.right-panel button:not(:last-child) {
  margin-right: 8px;
}

@media only screen and (max-width: 1125px) {
  .right-panel {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.price {
  margin-right: 24px;
}

.remove-btn {
  font-size: 1.5rem;
  border-radius: 24px;
  border: none;
  background-color: #3d3a3a;
  padding: 24px 16px;
  cursor: pointer;
  color: #f5f5f5;
  margin-left: 16px;
}

.remove-btn:hover {
  background-color: #4e3536;
  transition: ease-in 0.3s;
}
