h2 {
  font-weight: 400;
}

.user-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 48px;
}

.user-controls :not(:last-child) {
  margin-right: 40px;
}

.error-msg {
  position: absolute;
  top: 45%;
  left: 50%;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 64px;
  column-gap: 16px;
}

@media only screen and (max-width: 1340px) {
  .content-container {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width: 1000px) {
  .content-container {
    grid-template-columns: repeat(1, auto);
  }
}

.user-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.see-more-btn {
  margin: 80px 0;

  font-size: 1.5rem;
  border-radius: 24px;
  border: none;
  background-color: #d91f27;
  padding: 24px 16px;
  cursor: pointer;
  color: #f5f5f5;
}

.see-more-btn:hover {
  background-color: #c4202b;
  transition: ease-in 0.3s;
}

.platform-name {
  color: #c4202b;
  text-decoration: underline;
}
