.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 140px;
}

.logo {
  font-size: 3rem;
}

.user-btns {
  font-size: 1.5rem;
  margin-left: 32px;
  cursor: pointer;
  color: white;
}

.cart-quantity {
  color: #2699fb;
}

.shopping-cart {
  margin-right: 32px;
}

.welcome-message {
  font-size: 24px;
  margin-right: 16px;
  color: white;
}
