.container {
  min-height: 80vh;
  position: absolute;
  border-right: 1px solid #707070;
  padding-right: 56px;
  /* position: fixed; */
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.main-nav .nav-link {
  margin: 24px 0;
  padding: 0 8px;
  cursor: pointer;
  /* border-left: orangered 3px transparent; */
  text-decoration: none;
  color: #6c6e7a;
  position: relative;
}

.main-nav .nav-link::before {
  content: "";
  height: 100%;
  width: 3px;
  position: absolute;
  background-color: orangered;
  /* display: none; */
  opacity: 0;
  left: 0;
  transition: opacity 0.3s ease-out;
}

.main-nav .nav-link:hover::before {
  /* display: block; */
  opacity: 1;
}

.main-nav .nav-link.active::before {
  /* display: block; */
  opacity: 1;
}

.main-nav .nav-link i {
  padding-right: 16px;
}

.filter-menu {
  margin-top: 64px;
}

.filter-menu-title {
  margin-bottom: 16px;
}

.filter-title {
  color: #6c6e7a;
  margin-bottom: 8px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.filter-link {
  margin-bottom: 8px;
  /* position: relative; */
}

.filter-link:hover {
  color: #d91f27;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.nav-item {
  margin-bottom: 12px;
}

.filter-link-dropdown:hover {
  color: #d91f27;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.wishlist-quantity {
  color: #d91f27;
  padding-left: 8px;
}

#xbox-link {
  position: relative;
}
.xbox-dropdown {
  position: absolute;
  top: -40px;
  left: 100px;
  width: 250px;
  padding: 1rem;
  overflow: hidden;
  background-color: #312c2c;
  border-radius: 8px;
}

#playstation-link {
  position: relative;
}

.playstation-dropdown {
  position: absolute;
  top: -40px;
  left: 100px;
  width: 250px;
  padding: 1rem;
  overflow: hidden;
  background-color: #312c2c;
  border-radius: 8px;
}

#nintendo-link {
  position: relative;
}

.nintendo-dropdown {
  position: absolute;
  top: -40px;
  left: 100px;
  width: 250px;
  padding: 1rem;
  overflow: hidden;
  background-color: #312c2c;
  border-radius: 8px;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background ease-in-out 300ms;
  padding: 0.5rem;
}

/* .menu-item:hover {
  background-color: #474243;
} */
