.container {
  min-height: 80vh;
  position: absolute;
  border-right: 1px solid #707070;
  padding-right: 56px;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.main-nav li {
  margin: 24px 0;
  padding: 0 8px;
  cursor: pointer;
  border-left: orangered 3px transparent;
}

.main-nav li:hover {
  border-left: orangered 3px solid;
  transition: ease-in-out 0.3s;
}

.main-nav li i {
  padding-right: 16px;
}

.filter-menu {
  margin-top: 64px;
}

.filter-menu-title {
  margin-bottom: 16px;
}

.filter-title {
  color: #6c6e7a;
  margin-bottom: 8px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.filter-link {
  margin-bottom: 8px;
}

.filter-link:hover {
  color: #d91f27;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
