* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mabry-pro;
}

body {
  margin: 0 80px;
  background-color: #1a1c20;
  color: #f5f5f5;
}

@font-face {
  font-family: mabry-pro;
  src: url("./assets/fonts/Mabry\ Pro\ Medium.ttf");
}

.container-wrapper {
  margin-left: 240px;
}
